.Post {
		border: 5px solid purple;
		padding: 20px;
		margin-bottom: 10px;
		background: #ffffff;
		font-family: 'Permanent Marker', cursive;
		text-align: left;
}
.Post .PostDate{
		float: right;
		display: inline-block;
		font-weight: normal;
		color: grey;
}
.Post .PostBody{
		padding: 30px 10px;
}
.Post a{
		color: palevioletred;
}
.Post a:hover{
		text-decoration: none;
		color: purple;
}